    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>N'importe nawak</title>
        <link rel="icon" href="../assets/img/emoHeader.jpg">
        <link rel="stylesheet" href="../assets/css/general.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <img src="../assets/img/licorne_plastique_wr_ml.jpg" class="licorne" alt="licorne">
            <nav>
                <div>                    
                    <ul>
                        <li><a href="../index.html" title="home"> Home </a></li>
                        <li><a href="documentation.html" title="documentation"> Documentation </a></li>
                        <li><a href="#" title="infos"> Infos </a></li>
                        <li><a href="login.html" title="login"> Login </a></li>
                    </ul>
                </div>              
            </nav>           
        </header>
        <h1>L'invasion des canards</h1>
        <h2>Conditions d'utilisation</h2>
        <section class="myDiv">
            <p>
                Blabla juridique
            </p>
            <img src="../assets/img/avocat.jpg" alt="avocat">
        </section>
        <footer class="footerOnTheWay">
            <ul>
                <li><a href="#" title="conditions generales">Conditions generales</a></li>
                <li><a href="about.html" title="a propos de">A propos de</a></li>
                <li><a href="contact.html" title="contacts">Contacts</a></li>
                <li><a href="enchantier.html" title="enchantier">En chantier</a></li>
            </ul>
        </footer>
    </body>
    </html>