<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>N'importe nawak</title>
        <link rel="icon" href="../assets/img/emoHeader.jpg">
        <link rel="stylesheet" href="../assets/css/general.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <img src="../assets/img/licorne_plastique_wr_ml.jpg" class="licorne" alt="licorne">
            <nav>
                <div>                    
                    <ul>
                        <li><a href="../index.html" title="Home"> Home </a></li>
                        <li><a href="#" title="Documentation"> Documentation </a></li>
                        <li><a href="#" title="Infos"> Infos </a></li>
                        <li><a href="#" title="Divers"> Divers </a></li>
                    </ul>
                </div>              
            </nav>           
        </header>
        
        <h1>L'invasion des canards</h1>
        <section>
            <form action="view.html" method="post" class="myDiv">
                <label for="lastname">Nom:</label><input name="lastname" type="text"><br>
                <label for="button">button:</label><input type="button"><br>

                <label>checkbox : </label>
                <label>violet</label><input name="couleur" value="violet" type="checkbox">
                <label>turquoise</label><input name="couleur" value="turquoise" type="checkbox">
                <label>rose</label><input name="couleur" value="rose" type="checkbox">
                <label>bleu</label><input name="couleur" value="bleu" type="checkbox"><br>

                <label>color:</label><input type="color"><br>
                <label>date:</label><input type="date"><br>
                <label>datetime-local:</label><input type="datetime-local"><br>
                <label>email:</label><input type="email"><br>
                <label>file:</label><input type="file"><br>
                <label>hidden:</label><input type="hidden"><br>
                <label>image:</label><input type="image"><br>
                <label>month:</label><input type="month"><br>
                <label>number:</label><input type="number"><br>
                <label>password:</label><input type="password"><br>

                <label>radio : </label>
                <label>12 ans</label><input type="radio" name="age" value="12">
                <label>14 ans</label><input type="radio" name="age" value="14">
                <label>16 ans</label><input type="radio" name="age" value="16">
                <label>18 ans</label><input type="radio" name="age" value="18"><br>

                <label>range:</label><input type="range"><br>
                <label>reset:</label><input type="reset"><br>
                <label>search:</label><input type="search"><br>
                <label>submit:</label><input type="submit"><br>
                <label>tel:</label><input type="tel"><br>
                <label>text:</label><input type="text"><br>
                <label>time:</label><input type="time"><br>
                <label>url:</label><input type="url"><br>
                <label>week:</label><input type="week"><br>
                <button> Envoyer </button>
                <input type="submit" value="Envoyer autre">
            </form>
        </section>
        <footer class="footerOnTheWay">
            <ul>
                <li><a href="#" title="Conditions generales">Conditions generales</a></li>
                <li><a href="#" title="A propos de">A propos de</a></li>
            </ul>
        </footer>
    </body>
</html>