<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N'importe nawak</title>
    <link rel="icon" href="../assets/img/emoHeader.jpg">
    <link rel="stylesheet" href="../assets/css/general.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
</head>
<body>
    <header>
        <img src="../assets/img/licorne_plastique_wr_ml.jpg" class="licorne" alt="licorne">
        <nav>
            <div>                    
                <ul>
                    <li><a href="../index.html" title="Home"> Home </a></li>
                    <li><a href="#" title="documentation"> Documentation </a></li>
                    <li><a href="infos.html" title="infos"> Infos </a></li>
                    <li><a href="login.html" title="login"> Login </a></li>
                </ul>
            </div>              
        </nav>           
    </header>
    <section class="layoutTable">
        <h1>Exemple de tableau</h1>
        <table>
            <tr>
                <td colspan="2">1</td>
                <td>2</td>
                <td colspan="2">3</td>
            </tr>
            <tr>
                <td rowspan="3">6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>12</td>
                <td rowspan="3" colspan="3">1
                    <div class="littleTable"s>
                        <table>
                            <tr>
                                <td>a</td>
                                <td>b</td>
                                <td>c</td>
                                <td>d</td>
                                <td>e</td>
                            </tr>
                            <tr>
                                <td>f</td>
                                <td>g</td>
                                <td>h</td>
                                <td>i</td>
                                <td>j</td>
                            </tr>
                            <tr>
                                <td>k</td>
                                <td>l</td>
                                <td>m</td>
                                <td>n</td>
                                <td>o</td>
                            </tr>
                            <tr>
                                <td>p</td>
                                <td>q</td>
                                <td>r</td>
                                <td>s</td>
                                <td>t</td>
                            </tr>
                            <tr>
                                <td>u</td>
                                <td>v</td>
                                <td>w</td>
                                <td>x</td>
                                <td>y</td>
                            </tr>
                        </table>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td>17</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
            </tr>
        </table>

    </section>
    <footer class="footerOnTheWay">
        <ul>
            <li><a href="conditions.html" title="conditions generales">Conditions generales</a></li>
            <li><a href="about.html" title="a propos de">A propos de</a></li>
            <li><a href="contact.html" title="contacts">Contacts</a></li>
            <li><a href="enchantier.html" title="enchantier">En chantier</a></li>
        </ul>
    </footer>
</body>
</html>