body{
    background-color: rgb(70, 36, 76);
    font-family: 'Hurricane', cursive;
    color: rgb(212, 155, 84);
}
header{
    height: 150px;
    width: 100%;
    padding: 15px;
}nav {
    margin-top: 15px;
    background-color:rgb(113, 43, 117);
}
nav ul{
    list-style-type: none;
    clear: both;
}
nav div > ul li{
    border: 1px solid rgb(199, 75, 80);
    float: left;
    background-color:rgb(113, 43, 117);
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li a {    
    background-size: 30px;
    color: rgb(212, 155, 84);
    size: 28px;
    width: 25px;
    font-size: 0.7rem;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
nav div ul :hover{
    background-color: rgb(199, 75, 80);
}
.licorne{
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    border-radius: 50px;
    max-height: 50%;
}
h1{
    font-weight: bold;
    text-align: center;
    color: rgb(212, 155, 84);
    font-family: 'Hurricane', cursive;
    margin-bottom: 10px;
    font-size: 18px;
}
h2, h3, h4, h5, h6{
    color: rgb(212, 155, 84);
    font-family: 'Hurricane', cursive;
    margin-left: 10%;
    margin-bottom: 5px;
}
.myDiv{
    display: block;
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    border-radius: 5px;
    width: 90%;
    height: 90%;
    margin-bottom: 25px;
    background-color: rgb(199, 75, 80,0.2);
    margin-left: 5%;
    /* box-shadow: 2px 2px 2px rgb(199, 101, 104); */
}
.myDiv > img{
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    width: 25%;
    height: 20%;
    margin-left: 10px;
}
.myDiv > p{
    text-align: justify;
    width: 95%;
    margin-bottom: 5px;
    margin-left: 5px;

}
.myDiv > button{
    background-color: rgb(113, 43, 117);
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
    color: rgb(212, 155, 84);
}
.myDiv > input{
    background-color:  rgb(113, 43, 117);
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
    color: rgb(212, 155, 84);
}
.myDiv > label{
    margin: 10px;
}
.footerOnTheWay ul li a :hover{
    color: rgb(199, 75, 80);
    font-size: 12px;
}