body{
    background-color: rgb(70, 36, 76);
    font-family: 'Hurricane', cursive;
    color: rgb(212, 155, 84);
}
header{
    height: 150px;
    width: 100%;
    padding: 15px;
}nav {
    margin-top: 15px;
    background-color:rgb(113, 43, 117);
}
nav ul{
    list-style-type: none;
    clear: both;
}
nav div > ul li{
    border: 1px solid rgb(199, 75, 80);
    float: left;
    background-color:rgb(113, 43, 117);
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li a {    
    background-size: 30px;
    color: rgb(212, 155, 84);
    size: 28px;
    width: 25px;
    font-size: 0.7rem;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
nav div ul :hover{
    background-color: rgb(199, 75, 80);
}
.licorne{
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    border-radius: 50px;
    max-height: 50%;
}
h1{
    font-weight: bold;
    text-align: center;
    color: rgb(212, 155, 84);
    font-family: 'Hurricane', cursive;
    margin-bottom: 10px;
    font-size: 18px;
}
h2, h3, h4, h5, h6{
    color: rgb(212, 155, 84);
    font-family: 'Hurricane', cursive;
    margin-left: 10%;
    margin-bottom: 5px;
}
.myDiv{
    display: block;
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 25px;
    background-color: rgb(199, 75, 80,0.2);
    margin-left: 5%;
    /* box-shadow: 2px 2px 2px rgb(199, 101, 104); */
}
.myDiv > img{
    border: 2px solid;
    border-color: rgb(199, 75, 80);
    width: 25%;
    height: 20%;
    margin-left: 10px;
}
.myDiv > p{
    text-align: justify;
    width: 95%;
    margin-bottom: 5px;
    margin-left: 5px;

}
.myDiv > button{
    background-color: rgb(113, 43, 117);
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
    color: rgb(212, 155, 84);
}
.myDiv > input{
    background-color:  rgb(113, 43, 117);
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
    color: rgb(212, 155, 84);
    border: 2px solid rgb(212, 155, 84);
}
.myDiv > input:checked{
	appearance: none;   
    border: 2px solid rgb(212, 155, 84);
	background-clip: content-box;
    color: rgb(212, 155, 84);
    background-color: rgb(199, 75, 80);
    height: 20px;
    width: 20px;
	margin-bottom: 0px;
    padding: 0px;
}
.myDiv > input:selected{
    border: 2px solid rgb(199, 75, 80);
}
.myDiv > input[type=checkbox], input[type=radio]{
	appearance: none;
    border: 2px solid rgb(212, 155, 84);
	background-clip: content-box;
    color: rgb(212, 155, 84);
    height: 20px;
    width: 20px;
	margin-bottom: 0px;
}
.myDiv > input[type=file]::file-selector-button{
    background-color: rgb(199, 75, 80);
    border: 2px solid rgb(212, 155, 84);
    color: rgb(113, 43, 117);
    font-weight: bold;
}
/* .myDiv > input[type=number]::-webkit-inner-spin-button{
    color: rgb(199, 75, 80);
    cursor: pointer;
} */
.myDiv input[type=number]:button:checked {
    color: rgb(199, 75, 80);
    margin: 0;
    justify-content: space-between;
}
.myDiv > label{
    margin: 10px;
}

.myDiv > input[type=range]{
    background-color: rgb(199, 75, 80);
}
.myDiv > textarea{
    background-color: rgb(113, 43, 117);
    margin: 15px;
    color: rgb(212, 155, 84);
    border: 2px solid rgb(212, 155, 84);
    height: 70%;
    width: 90%;
}
section.layoutTable table tr td{
    border: 1px solid rgb(212, 155, 84);
    width: 20px;
    height: 20px;
    background-color: rgb(113, 43, 117);
    margin: 30%;
}
section.layoutTable table{
    width: 100%;
    height: 350px;
}
.littleTable table tr td{
    border: 1px solid rgb(212, 155, 84);
    width: 5px;
    height: 5px;
    background-color: rgb(70, 36, 76);
    margin: 30%;
}
.littleTable table{
    width: 50%;
    height: 50%;
}
.footerOnTheWay{    
    align-content: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}
.footerOnTheWay ul li a :hover{
    color: rgb(199, 75, 80);
    font-size: 12px;
}
.illustrationImg{
    background-color: none;
    width: 40%;
    display: inline-block;
    margin: 10%;
    margin-left: 30%;
    flex-direction: row;
    border: 3px solid rgb(199, 75, 80);
}
/* 
    <576px x-small
    >=576px small
    >= 768px médium
    >= 992px large 
    >= 1200px extra-large
    >= 1400px xx-larg
 */
 /* smartphone */
/* @media (max-width:376px){
    body{
        background-color:purple;
    }   
} */
/* smart landscape & tablet */
/* @media (max-width:577px) and (max-width:768px){
    body{
        background-color:magenta;
    }   
} */
/* tablet landscape & small pc */
/* @media (max-width:769px) and (max-width:992px){
    body{
        background-color:blue;
    }   
} */
/* other pc, tv, giant screen */
/* @media (min-width:993px){
    body{
        background-color:green;
    }   
} */
